.one{
    margin: 10px;
    float: right;
}
.two{
    margin: auto;
    padding: 0 0 0 0;
    width: 0 0 0 1000px;
    float: right;
}
.gmail{
    margin: 0px 0px 0px 30px;
}
th{
    padding: 10px;
    text-align: left;
}
.a{
    opacity: .4;
    font-weight: normal;
    color: #444444;
}
.b{
    width: 310px;
}
.c{
    width: 310px;
}
.button{
    background: none;
    border: none;
}
input[type="submit"] {
    margin: auto;
    display: block;
    width: 1200px;
}