{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{ msg }}</div>
{% endfor %}

<form action="{{ url_for('add_post') }}" method="post">
    <p>Post name: <input type="text" name="name" required></p>
    <p>URL: <input type="text" name="url" required></p>
    <p>Post text:</p>
    <p><textarea name="post_text" cols="40" rows="7"></textarea></p>
    <p><input type="submit" value="Add"></p>
</form>

{% endblock %}